@import "element-ui/packages/theme-chalk/src/form.scss";
@import "element-ui/packages/theme-chalk/src/checkbox.scss";
@import "sass-bem/_bem.scss";

@include b(up-form-item-checkbox) {
  @include e(all) {
    margin-top: -1px;
  }

  @include is(inline) {
    .el-form-item__content {
      display: flex;
    }
  }

  .el-checkbox-group {
    @include is(checkbox-button) {
      .el-checkbox-button {
        &:first-child {
          .el-checkbox-button__inner {
            border-left-width: 0;
            border-radius: 0;
          }

          @include is(checked) {
            box-shadow: -1px 0 0 0 #8cc5ff !important;
          }
        }
      }
    }
  }

  @include is(separate) {
    .el-checkbox-button {
      @include is(checkbox-button) {
        margin-right: 16px;

        .el-checkbox-button__inner {
          border-radius: 4px;
        }
      }
    }

    .el-checkbox {
      @include is(checkbox) {
        margin-right: 50px;
      }
    }
  }

  &.is-with-all,
  &.is-separate {
    .el-checkbox-group {
      @include is(checkbox-button) {
        .el-checkbox-button {
          &:first-child {
            .el-checkbox-button__inner {
              border-left-width: 1px;
              border-radius: 4px 0 0 4px;
            }

            @include is(checked) {
              box-shadow: none !important;
            }
          }
        }
      }
    }
  }
}
